@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url("img/fon_portfolio6.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 500;
}
.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #ffffff;
    padding: 30px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}
header .logo{
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111111;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style-type: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111111;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBx{
    font-size: 14px;
    margin-bottom: 10px;
}
.contentBx p, .contentBx h3{
    margin-left: 5%;
    max-width: 95%;
}
.contentBx h3{
    margin-bottom: 15px;
}
.w20{
    min-width: 20%;
}
.w30{
    min-width: 30%;
}
.w50{
    min-width: 50%;
}
.w70{
    min-width: 70%;
}
.w80{
    min-width: 80%;
}
.img{
    max-width: 100%;
}

.about .content .contentBx p {
    margin-bottom: 10px;
}

.about .content .contentBx ul {
    margin-bottom: 10px;
}

.about .content .contentBx ul li {
    list-style-type: none;
    width: 95%;
    margin-left: 5%;
}

.services{
    background: #111111;
}
.heading.white{
    color: #ffffff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #222222;
    color: #ffffff;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    display: flex;
}
.services .content .servicesBx .w30 .second{
    margin-top: 30px;
    color: #2196f3;
}
.services .content .servicesBx .w30 .first{
    margin-top: 30px;
    color: #fa2aca;
}
.services .content .servicesBx .w70 .skill{
    margin-left: 20px;
}
.services .content .servicesBx .w70 .skill div{
    height: 15px;
    display: block;
    margin: 3px 20px;
    border-radius: 3px;
}

.services .content .servicesBx .w70 .skill .html-skill{
    width: 0;
    background: linear-gradient(to left, #e04355, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .html-skill.active{
    width: 45%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .css-skill{
    width: 0;
    background: linear-gradient(to left, #97e143, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .css-skill.active{
    width: 57%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .sass-skill{
    width: 0;
    background: linear-gradient(to left, #2b27a4, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .sass-skill.active{
    width: 48%;
    transition: 3s;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .js-skill{
    width: 0;
    background: linear-gradient(to left, #e7f311, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .js-skill.active{
    width: 45%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .jquery-skill{
    width: 0;
    background: linear-gradient(to left, #fa2aca, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .jquery-skill.active{
    width: 37%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .ajax-skill{
    width: 0;
    background: linear-gradient(to left, #2a81fa, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .ajax-skill.active{
    width: 42%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .react-skill{
    width: 0;
    background: linear-gradient(to left, #a6f593, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .react-skill.active{
    width: 55%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .nodejs-skill{
    width: 0;
    background: linear-gradient(to left, #ec0669, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .nodejs-skill.active{
    width: 49%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .angular-skill{
    width: 0;
    background: linear-gradient(to left, #cda204, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .angular-skill.active{
    width: 45%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .sql-skill{
    width: 0;
    background: linear-gradient(to left, #69d20d, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .sql-skill.active{
    width: 37%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .php-skill{
    width: 0;
    background: linear-gradient(to left, #e9f593, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .php-skill.active{
    width: 55%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .symfony-skill{
    width: 0;
    background: linear-gradient(to left, #ef93f5, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .symfony-skill.active{
    width: 60%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .ps-skill{
    width: 0;
    background: linear-gradient(to left, #9399f5, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .ps-skill.active{
    width: 65%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .i-skill{
    width: 0;
    background: linear-gradient(to left, #f5ad93, #ffffff);
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .i-skill.active{
    width: 55%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill .id-skill{
    width: 0;
    background: linear-gradient(to left, #93f5ef, #ffffff);
    transition: 3s;

}
.services .content .servicesBx .w70 .skill .id-skill.active{
    width: 50%;
    transition: 3s;
}
.services .content .servicesBx .w70 .skill{
    display: flex;
    text-align: left;
}
.services .content.servicesBx img{
    max-width: 80px;
    filter: invert(1);
    color: #ffffff;
}
.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600;
}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx{
    width: calc(25% - 20px);
    border: 3px solid black;
    margin: 10px;
    background: black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}
.work .content .workBx a img{
    max-width: 100%;
}
.work .content .workBx img{
    max-width: 100%;
    cursor: pointer;
}
.testimonial {
    background: #f7f7f7;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}
.testimonial .content .testimonialBx:nth-child(1){
    background: #fa2aca;
}
.testimonial .content .testimonialBx.right{
    opacity: 0.1;
}
.testimonial .content .testimonialBx.right.active{
    opacity: 1;
    transition: 2s;
}
.testimonial .content .testimonialBx.left{
    margin-left: -2000px;
}
.testimonial .content .testimonialBx.left.active{
    margin-left: 0;
    transition: 2s;
}
.testimonial .content .testimonialBx p{
    color: #ffffff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3{
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonial .content .testimonialBx h3 span{
    font-size: 14px;
    font-weight: 400;
}
.contact{
    background: #111111;
}
.formBx{
    min-width: 60%;
}
.formBx form{
    display: flex;
    flex-direction: column;
}
.formBx form h3, .contactInfo h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input, .formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222222;
    color: #ffffff;
    resize: none;
}
.formBx form textarea{
    min-height: 200px;

}
.formBx form input::placeholder, .formBx form textarea::placeholder{
    color: #999999;
}
.formBx form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo{
    min-width: 40%;
}
.contactInfoBx{
    position: relative;
}
.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon{
    color: #ffffff;
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffffff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright{
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

.contact .content .box {
    min-width: 25%;
    display: flex;
    flex-direction: column;
}

.contact .content .box h3 {
    color: #2196f3;
}

.contact .content .box p {
    color: white;
}

i {
    margin-right: 20px;
}

.contact .content .box p a {
    text-decoration: none;
    color: white;
}

.contact .content .box p a:hover {
    color: #fa2aca;
}


@media (max-width: 900px) {
    header, header.sticky{
        padding: 20px 50px;
        z-index: 1000;
        justify-content: space-between;

    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111111;
        padding: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background-image: url("img/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
    }
    .toggle.active{
        background-image: url("img/close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .textBx{
        margin-top: 230px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .services .content .servicesBx{
        margin: 10px;
        flex-direction: column;
    }
    .work .content .workBx{
        width: 100%;
        padding: 10px;
    }
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 20px;
        background: #2196f3;
    }
    .testimonial .content .testimonialBx h3{
        margin-top: 20px;
    }
    .contactInfo{
        margin: 20px 0;
    }
}
@media (max-width: 600px) {
    header, header.sticky{
        padding: 20px 20px;
    }
    .banner{
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }
    .about .content .contentBx p {
        text-align: justify;
        margin: auto;
    }
}